<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../script.js"></script>
    <style>
      #menu, #photos, #error, #form, #message, #gallery { 
        margin: 1em;
        padding: 1em;
      }
      #error {
        outline: 1px solid red;
      }
      #message {
        outline: 1px solid green;
      }
      #photos {
        outline: 1px solid blue;
      }
      #form {
        outline: 1px solid pink;
      }
      #menu {
        outline: 1px solid grey;
      }

      #gallery {
        outline: 1px solid tomato;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1em;
      }

      .picture {
        width: auto;
        height: 200px;
        background: #ccc;
      }

      @media (min-width: 768px) {
        #gallery {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @media (min-width: 992px) {
        #gallery {
          grid-template-columns: repeat(3, 1fr);
        }
      }

      @media (min-width: 1200px) {
        #gallery {
          grid-template-columns: repeat(4, 1fr);
        }
      }
      
    </style>
  </head>
  <body>
    <nav id="menu">
      <a href="/#/">home</a>
      <a href="/#/admin">admin</a>
      <a href="/#/about">about</a>
      <a href="/#/login" id="login">login</a>
      <a href="/#/logout" id="logout">logout</a>
    </nav>
    <div id="message">Good day, isn't it?</div>
    <div id="photos"></div>
    <div id="gallery">
      <div class="picture picture-1">1</div>
      <div class="picture picture-2">2</div>
      <div class="picture picture-3">3</div>
      <div class="picture picture-4">4</div>
      <div class="picture picture-5">5</div>
      <div class="picture picture-6">6</div>
      <div class="picture picture-7">7</div>
      <div class="picture picture-8">8</div>
    </div>
  </body>
</html>