<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../script.js"></script>
    <style>
      #menu, #photos, #error, #form, #message, #gallery { 
        margin: 1em;
        padding: 1em;
      }
      #error {
        outline: 1px solid red;
      }
      #message {
        outline: 1px solid green;
      }
      #photos {
        outline: 1px solid blue;
      }
      #form {
        outline: 1px solid pink;
      }
      #menu {
        outline: 1px solid grey;
      }

      img {
        width: 100%;
      }

      #gallery {
        outline: 1px solid tomato;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
      }

      .picture {
        width: auto;
        height: 200px;
        background: #ccc;
      }

      @media (min-width: 768px) {
        #gallery {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @media (min-width: 992px) {
        #gallery {
          grid-template-columns: repeat(3, 1fr);
        }
      }

      @media (min-width: 1200px) {
        #gallery {
          grid-template-columns: repeat(4, 1fr);
        }
      }
      
    </style>
  </head>
  <body>
    <nav id="menu">
      <a href="/#/">home</a>
      <a href="/#/admin">admin</a>
      <a href="/#/about">about</a>
      <a href="/#/login" id="login">login</a>
      <a href="/#/logout" id="logout">logout</a>
    </nav>
    <div id="message">Good day, isn't it?</div>
    <div id="photos"></div>
    <div id="gallery">
      <img src="https://picsum.photos/id/1/600/400" alt="">
      <img src="https://picsum.photos/id/4/600/400" alt="">
      <img src="https://picsum.photos/id/7/600/400" alt="">
      <img src="https://picsum.photos/id/10/600/400" alt="">
      <img src="https://picsum.photos/id/13/600/400" alt="">
      <img src="https://picsum.photos/id/16/600/400" alt="">
      <img src="https://picsum.photos/id/19/600/400" alt="">
      <img src="https://picsum.photos/id/22/600/400" alt="">
    </div>
  </body>
</html>